.notransform{
    text-transform: none !important; 
}

.lisacenter{
    text-align: center;
}

.lisacolor{
    color: #2d2f30 !important;
}

.color2{
    color: rgb(30, 34, 36) !important;
    text-align: center;
}

.greycolor{
    color: rgb(127, 138, 146) !important;
    text-align: center;
}

.lisah4{
    color: #414852;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
    
}


.bg-primary{
    background-image: url(../assets/img/26.jpg);
}

.herobg{
    background: linear-gradient(to left, #091114, #060e13);
    color: white;
    background-image: url(../assets/img/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lisaimg{
    background-color: #eff3f5 !important;
    
}

.lisaspeech{
    padding: 30px 40px;
    background-color: #39688571;
    border-radius: 30px;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.expedu_icon {
    color: #0a1825;
    border-radius: 15px;
    padding: 0px 10px;
}

.expedu_icon:hover{
    background-color: #15191d;
    color: white;
    border-radius: 15px;
    padding: 0px 10px;
    text-align: center;
}

.herodown{
    font-size: 40px;
    color: rgb(0, 0, 0);
    
}

.herodown:hover{
    font-size: 40px;
    color: grey;
  
}

.ctabtn{
    background-color: rgb(31, 23, 26);
    color: #fff7f7;
    border-radius: 50px !important; 
    font-size: 20px;
    padding: 10px 30px;
    border: 5px solid;
    border-color: #777c96;
    text-decoration: none;

}

.ctabtn:hover{
    background-color: #000000;
    color: white;
    border-radius: 50px !important; 
    font-size: 20px;
    padding: 10px 30px;
    border: 5px solid;
    border-color: white;
    text-decoration: none;
 
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 ,body {
    font-family:'Noto Sans TC', sans-serif;
}

.serif{
    font-family:'Noto Serif TC', sans-serif;
}