
ol.lisalist{
    list-style-type: upper-alpha;
}

*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
    
}
.bg-primary{
    background-color: #f1a707 !important;
    background-image:url(../assets/img/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#redred{
    padding: 20px;
    border: 10px solid royalblue;
    border-radius:5px;
    margin: 0px 0px 100px 50%;
    background-color: #e9a411;
    color: cadetblue;
    
    font-size: 40px;
    text-align: 40px;
    text-align: center;
    font-family: 'Noto Serif TC',sans-serif;
    letter-spacing: 0.8px;
    line-height:1.5em;
   
}

.lisa80{
    width: 80%;
    margin: 0px auto;
}

body{
    background-color: rgba(245, 243, 242, 0.418);
    font-family: "Noto Serif TC", sans-serif;
}
    
h1,h2,h3,h4,h5,h6{
    font-family: "Noto Serif TC", sans-serif;
}

p.redred{
    color: #100577;
    font-size: 40px;
    text-align: center;
    background-color: #f1a707;
    border:10px solid red;
    

}

.blueblue{
    color: #196805d8;
}
.expedu_icon{
    color: #e9a411;
}

.expedu_icon:hover{
    background-color: rgb(226, 157, 8);
    color: #eef4f8;

}

table.lisatable{
    text-align: center;
    color: #e9a411;
    width: 100px;
    
    
}
table.lisatable th{
    text-align: center;
    color:rebeccapurple;
    background-color:darkgoldenrod;
    border: 5px solid rgb(226, 157, 8)


}

table.lisatable td{
    text-align: center;
    border: 5px solid  rosybrown
}

table.lisatable tr:nth-child(even){
    background-color: #f1a707;
}

table.lisatable tr:nth-child(odd){
    background-color: #100577;
}

ol>li:hover {
    background-color: #deb43d;
    }


.overflowtest{
    background-color: #131212;
    color:white;
    padding:10px 20px;
    border-radius: 15px;
    width: 50%;
    margin: 30px auto;
    height:150px;
    overflow: scroll;
}