
ol.lisalist{
    list-style-type: upper-alpha;
}

*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
    
}
.bg-primary{
    background-color: #f1a707 !important;
    background-image:url(../assets/img/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: rgba(245, 243, 242, 0.418);
    font-family: "Noto Serif TC", sans-serif;
}
    
h1,h2,h3,h4,h5,h6{
    font-family: "Noto Serif TC", sans-serif;
}

p.redred{
    color: #100577;
    font-size: 40px;
    text-align: center;
    background-color: #f1a707;
    border:10px solid red;
    

}

.blueblue{
    color: #196805d8;
    font-size: 30px;
}
.expedu_icon{
    color: #e9a411;
}

.expedu_icon:hover{
    background-color: rgb(226, 157, 8);
    color: #eef4f8;

}

table.lisatable{
    width: 100px;
    background-color: #e9a411;
    text-align: center;
}
table.lisatable th{
    width: 100px;
    background-color: #bb1127ce;

}

table.lisatable td{
    text-align: center;
}

table.lisatable tr:nth-child(even){
    background-color: #f1a707;
}

table.lisatable tr:nth-child(odd){
    background-color: #100577;
}

